extends layout

block content
	if message
		p Welcome to !{message}
	if requestData && requestData.message
		p Welcome to !{requestData.message}
	ul
		li
			a(href='/') /index
		li
			a(href='/eureka') /eureka