doctype html
html
	head
		if title
			title= title
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		link(rel='stylesheet', href='/app/bower/selectize/dist/css/selectize.css')
		link(rel='stylesheet', href='/app/css/style.css')

		script(type='text/javascript', src='/app/bower/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/app/bower/selectize/dist/js/standalone/selectize.min.js')
		script(type='text/javascript', src='/app/js/script.js')

	body.invoice-box
		block content